.app__about{
    flex-direction: column;
    justify-content: center;
}

.app__about-title{
    text-align: center;
    margin-bottom: 3rem;
}

.app__about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.p__opensans{
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

.app__about-content_video{
    position: relative;
    padding: 1rem 1rem;
    background-color: rgba(84, 84, 84, .5);
    cursor: pointer;
}

.app__about-content_video video{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px;
}

.app__about-content_video:hover video{
    box-shadow: none;
}

.app__about-content_video-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}

.app__about-content_video-circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
}

@media screen and (max-width: 950px) {
    .app__about.title{
        margin-bottom: 1rem;
    }

    .app__about-title h1{
        font-size: 50px;
        line-height: 55px;
    }

    .app__about-content{
        width: 100%;
    }
}



