.app__history{
    flex-direction: column;
    background: var(--color-black);
}

.app__history-title{
    text-align: center;
    margin-bottom: 5rem;
}

.app__history-content{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.card{
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}

.app__history-content_left img{
    width: 100%;
}

.app__history-content_left p{
    margin-bottom: 2rem;

    animation: from-left;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50vh;
}

.winewall{
    width: 100%;
}

.app__history-content_right-ani{
    animation: from-right;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50vh;
}

.app__history-content_right-header{
    font-family: var(--font-base);
    font-size: 45px;
    color: var(--color-golden);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.app__history-content_right-stats{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.app__history-content_right-stats_dash{
    content: '';
    width: 1px;
    height: 6rem;
    background-color: var(--color-white);
}

@keyframes fade-left{
    from{
        transform: translateX(-700px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right{
    from{
        transform: translateX(100px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1400px) {
    .app__history-content_right-stats_dash{
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .app__history-content{
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .app__history-content{
        flex-direction: column;
        justify-content: center;
    }
    
    .app__history-title{
        margin-bottom: 3rem;
    }
    
    .card{
        width: 100%;
    }
    
    .winewall{
        display: none;
    }
    
    .app__history-content_right-header{
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .app__history-content_right-stats{
        justify-content: space-around;
    }
    
    .app__history-content_right-stats_dash{
        display: block;
    }

    .app__history-content_left p,
    .app__history-content_right-ani{
        animation: none;
    }
}

@media screen and (max-width: 650px) {
    .app__history-content_right-stats_dash{
        display: none;
    }

    .app__history-content_right-header{
        font-size: 30px;
    }
}