.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}

.app__chef-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.app__chef-content_quote img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.app__chef-sign {
  width: 100%;
  margin-top: 3rem;
}

.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}

.app__chef-sign p:nth-child(2) {
  text-align: left;
}

.app__chef-sign img {
  width: 250px;
  margin-top: 3rem;

  animation: sign-fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 80vh;
}

.app__wrapper_img img {
  animation: img-fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 70vh;
}

@keyframes img-fade-in {
  from {
    scale: 0.8;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes sign-fade-in {
  from {
    opacity: 0;
    scale: 0.5;
  }

  70% {
    opacity: 1;
    scale: 1.25;
  }

  85% {
    opacity: 1;
    scale: 1.25;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 2000px) {
  .app__chef-sign img {
    width: 370px;
  }
}

@media screen and (max-width: 450px) {
  .app__chef-sign img {
    width: 80%;
  }

  @keyframes sign-fade-in {
    from {
      opacity: 0;
      scale: 0.5;
    }
  
    to {
      opacity: 1;
      scale: 1;
    }
  }
}
