.app__testimonials-card{
    display: flex;
}

.app__testimonials-card_image{
    margin-right: 1.5rem;
    position: relative;
}

.card_image-picture {
    width: 190px;
    height: 190px;
}

.card_image-quote{
    width: 2rem;
    height: 2rem;
    position: absolute;
    z-index: 100;
    right: -1rem;
    bottom: -1rem;
}

.app__testimonials-card_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.card_content-review{
    font-size: 16px;
    color: var(--color-white);
    line-height: 1.75em;
    letter-spacing: 0.04em;
    font-style: italic;
}

.card_content-name{
    color: var(--color-golden);
    font-size: 32px;
    font-family: var(--font-base);
}

.card_content-job{
    font-family: var(--font-alt);
    color: var(--color-white);
}

@media screen and (max-width: 600px) {
    .app__testimonials-card{
        flex-direction: column;
    }

    .card_image-picture{
        margin-bottom: 1rem;
    }

    .card_image-quote{
        display: none;
    }
}