.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
    animation: glow 3s ease-in 2s infinite;
}

.app__header-img img{
    width: 80%;
}

@keyframes glow {
    from{
        text-shadow: none;
    }

    50%{
        text-shadow: 1px 0 10px;
    }

    to{
        text-shadow: none;
    }
}